.DS_Store
node_modules/
cdk.out/
.env
*.js
!jest.config.js
*.d.ts
__pycache__/
*.pyc
.venv/
dist/
build/
.idea/
.vscode/
*.swp
*.log
infrastructure/node_modules/
frontend/node_modules/
.env.local
.env.*.local
